.filter-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  min-width: 100vw;
  padding: 1rem 0.5rem;
}

.name-filter {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  height: 50%;
  padding: 0.5rem;
}

.name-filter input {
  background-color: #333;
  border: 2px solid white;
  color: white;
  font-weight: 700;
  margin-top: 0.5rem;
  outline: none;
  padding: 0.5rem 1rem;
}

.other-filters {
  align-items: center;
  display: flex;
  height: 10vh;
  padding: 0.5rem;
}
